<div *ngIf="template else default">
    <ng-container *ngTemplateOutlet="template;context:ctx"></ng-container>
</div>

<ng-template #default>
    {{currencyName}} {{usdValue|decimal:1}}
</ng-template>

