<div>
    <app-currency-pln [currencyName]="'BTC/PLN'">
        <span style="color: yellow; font-weight: bold">{{tickers.btcpln.bid|decimal}}</span>
    </app-currency-pln>
</div>

<div>
    <app-currency-pln [currencyName]="'LSK/PLN'">
        {{tickers.lskpln.bid|decimal}}
    </app-currency-pln>
</div>

<div>
    <app-currency-pln [currencyName]="'ETH/PLN'">
        {{tickers.ethpln.bid|decimal}}
    </app-currency-pln>
</div>

<div>
    <app-currency-usd [currencyName]="'BTC/USD'" [plnValue]="tickers.btcpln.bid">

    </app-currency-usd>
</div>

<div>
    <app-currency-usd [currencyName]="'LSK/USD'" [plnValue]="tickers.lskpln.bid">

    </app-currency-usd>
</div>

<div>
    <app-currency-usd [currencyName]="'ETH/USD'" [plnValue]="tickers.ethpln.bid" [template]="btcusd">

    </app-currency-usd>
</div>


<ng-template #btcusd let-currencyName="currencyName" let-usdValue="usdValue">
    <span style="color:yellow">{{currencyName}} {{usdValue|decimal:1}}</span>
</ng-template>
