<!--<nav style="width: 50%; display: flex; flex-direction: row; justify-content: space-evenly">-->
    <!--<a routerLink="/login" routerLinkActive="active">Login</a>-->
    <!--<a routerLink="/features" routerLinkActive="active">features</a>-->
    <!--<a routerLink="/currencies" routerLinkActive="active">currencies</a>-->
<!--</nav>-->

<router-outlet></router-outlet>
<!--]-->
