<form name="form" class="card" (ngSubmit)="submit()">
    <h2>Sign On</h2>

    <div class="form-group">
        <label for="username">Username:</label>
        <input type="email" class="form-control" id="username" name="login" [(ngModel)]="credentials.username" required>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="credentials.password" required>
    </div>

    <button type="submit">Sign on</button>
</form>
